body{
    margin-left: 200px;
}

.nav_bar{
    display:inline-flex;
}
.logo{
    display: inline-flex;
    margin-top: 20px;
    margin-right:5px;
}
.logo h3{
    margin-top: 10px;
}
.nav_bar ul {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 30px;
}
li{
    display: inline-block;
    margin-right:50px ;
}

a{
    color:dimgray;
    text-decoration: none;
}
a:hover{
    color:deeppink;
}
.nav_bar img:hover{
    filter: brightness(95%);
  }
  
  
  
  
  
  