body{
    margin-left: 200px;
}

.nav_bar{
    display:inline-flex;
}
.logo{
    display: inline-flex;
    margin-top: 20px;
    margin-right:5px;
}
.logo h3{
    margin-top: 10px;
}
.nav_bar ul {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 30px;
}
li{
    display: inline-block;
    margin-right:50px ;
}

a{
    color:dimgray;
    text-decoration: none;
}
a:hover{
    color:deeppink;
}
.nav_bar img:hover{
    filter: brightness(95%);
  }
.container_1{
    display: inline-flex;
    margin-top: 30px;
}
.content h1 {
    width:380px;
    font-size: 38px;
    line-height: 45px; 
    color:rgb(39, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
}
.content p{
    font-size:15px;
    width:290px;
    line-height:20px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(105, 103, 103);
}
.content button{
    background-color:rgb(224,47,89) ;
    border-color: rgb(224,47,89);
    color: white;
    text-align: center;
    border-radius:170px;
    width:231.1px;
    height:55.46px;
    box-shadow: 0 20px 20px -15px rgba(144,40,64,.5);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.content button:hover {
    transform:translate3d(0px,-4px,0px) scale3d(1,1,1);
    transform-style: preserve-3d;
    background-color:deeppink ;
}

.container_1 img{
    margin-left:40px;
}

.container_2 h2 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 31%;
    line-height: 32px;
    color:rgb(39, 40, 40) ;
}
.container_2 p {
    margin-left: 27%;
    font-size:17px;
    margin-top:10px;
    color: rgb(81, 79, 79);
}

.card_1, .card_2, .card_3, .card_4 {
    border-radius:170px;
    width:230px;
    margin-right: 20px;
}
.card_1 h4, .card_2 h4, .card_3 h4, .card_4 h4{
    background-color: rgb(246, 243, 243);
    margin-top: 0px;
    line-height:35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 221px;
}
.card_1:hover, .card_2:hover, .card_3:hover, .card_4:hover {
    transform: scale3d(1.05,1.05,1);
}

.cards {
    display:inline-flex;
    margin-left: 20px;
    margin-top: 20px;
}
  
  
  